<div class="card bg-transparent text-white my-1 border border-2 ">
      <div class="card-header border-bottom border-3 border-white">
        <h1 class='fw-bold'>Messages:</h1>
      </div>
      <%= render "form", message: @message %>
  </div>
<br>

<div>
  <%= link_to "Back", messages_path, class: 'btn btn-secondary' %>
</div>
