<h2>Edit Comment:</h2>
<%= simple_form_for([@message, @comment]) do |f| %>
    <%= f.input :content, label: 'Comment:', label_html: { class:'fs-4' }, input_html: { class: 'form-control' } %>
    <%= f.submit 'Submit', class: 'btn btn-primary my-1', disable_with: 'Submiting...' %>
<% end %>